@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #00b493;
  --color-secondary: #9cdbcf;
  --color-secondary-light: #ccf0e9; /* 서브 강조 색상 (밝은 청록) */
  --color-error: #ff7272;
  --color-gray-background: #f6f6f6; /* Light gray background */
  --color-gray-lightest: #e6e6e6;
  --color-gray-light: #c8c8c8;
  --color-gray-medium: #969696;
  --color-gray-dark: #646464;
  --color-text-primary: #323232; /* Dark text color */
  --color-contrast: #f5c4c4; /* Contrast color for text */
  --color-contrast-dark: #ff7272;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html body {
  background: var(--background);
  color: var(--foreground);
  font-family: noto-sans, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.06rem;
  font-weight: 500;
}

.card {
  @apply p-6 bg-white rounded-[32px] flex flex-col items-center justify-center border-[1.5px] border-gray-lightest;
}

.default-border {
  @apply border-gray-lightest border-[1.5px];
}

.emphasis {
  @apply font-semibold underline;
}
